@import 'reset.scss';

$body-offset: 2em;
$btn-size: 2em;

html,
body
{
    font-family: Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;


    *
    {
        font-size: 18px;
    }
}

button
{
    cursor: pointer;
}

.body
{
    margin: 0;
    padding: 0;
}

.main
{
    position: relative;

    width: 100vw;
    height: 100vh;

    transition: .3s transform linear;
    &--with-nav
    {
        transform: translate3d(-300px, 0, 0);
    }
}

.btn
{
    position: absolute;
    z-index: 110;
    top: 50%;

    width: $btn-size;
    height: $btn-size;

    transition: .2s linear all;

    border-radius: 50%;
    background: #fff no-repeat center center;
    background-size: 100% 100%;
    &:hover
    {
        transform: scale(1.1);

        background-color: #cecbcb;
    }

    &--next
    {
        right: $body-offset;

        background-image: url(/static/img/icon-right.svg);
    }

    &--prev
    {
        left: $body-offset;

        background-image: url(/static/img/icon-left.svg);
    }
}

.events
{
    background: url(/static/img/bg-sprite.png) no-repeat -9999px -9999px;
    background-size: 0;
}

.event
{
    line-height: 1.4;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-blend-mode: multiply;

    &__box
    {
        position: absolute;
        bottom: $btn-size + $body-offset;
        left: $btn-size + $body-offset + $body-offset;

        color: #fff;
    }

    &__title
    {
        font-size: 4em;;
    }

    &__place
    {
        font-size: 1.8em;
    }

    &__date
    {
        font-size: 1.8em;
    }

    &__edit
    {
      a,
      button {
          font-size: .7em;
          display: inline-block;
          padding: .5em;
          transition: .2s linear all;

          background: #fff;
          &:hover
          {
              transform: scale(1.05);

              background: #cecbcb;
          }
        }
    }

    &--hide
    {
        animation: mask-play 1.2s steps(70) forwards;

        mask: url(/static/img/bg-sprite.png);
        mask-size: 7100% 100%;
    }
}

@keyframes mask-play
{
    from
    {
        mask-position: 0 0;
    }
    to
    {
        mask-position: 100% 0;
    }
}


.nav-btn
{
    position: fixed;
    z-index: 110;
    top: $body-offset;
    right: $body-offset;

    width: $btn-size;
    height: $btn-size;

    transition: .2s linear all;

    background: #fff url(/static/img/icon-menu.svg) no-repeat center center;
    background-size: 100% 100%;
    &:hover
    {
        transform: scale(1.1);

        background-color: #cecbcb;
    }
}

.nav
{
    position: fixed;
    z-index: 120;
    top: 0;
    right: 0;

    width: 300px;
    height: 100vh;

    transition: .3s linear transform;
    transform: translate3d(100%, 0, 0);

    background: #fff;

    ul
    {
        list-style: none;
    }

    li
    {
        padding: 1em;

        cursor: pointer;
        transition: .2s background-color linear;

        border-bottom: 1px solid #ccc;
        &:hover
        {
            background-color: #f7f7f7;
        }

        .small
        {
            font-size: .7em;

            display: block;

            margin-top: .2em;
        }
    }

    button
    {
        width: 100%;
        padding: 1em 3em;

        transition: .2s background-color linear;
        text-align: left;

        background: #cacaca no-repeat 1em center url(/static/img/icon-plus.svg);
        &:hover
        {
            background-color: #f7f7f7;
        }
    }
}

.popup
{
    position: absolute;
    z-index: 130;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    padding: 10vh 10vw;

    transition: .3s linear all;
    transform-origin: 100% 0;

    background: rgba(255, 255, 255, .85);

    &--hiden
    {
        transform: scale(0);

        opacity: 0;
    }

    &__box
    {
        max-width: 600px;
        margin: 0 auto;
    }

    &__close
    {
        position: absolute;
        top: $body-offset;
        right: $body-offset;

        width: $btn-size;
        height: $btn-size;

        transition: .2s linear all;

        background: #fff url(/static/img/icon-close.svg) no-repeat center center;
        background-size: 100% 100%;
        &:hover
        {
            transform: scale(1.1);

            background-color: #cecbcb;
        }
    }

    &__submit
    {
        margin-top: 1em;
        padding: 1em 3em;

        transition: .2s linear all;

        background: #cacaca no-repeat 1em center url(/static/img/icon-check.svg);
        &:hover
        {
            background-color: #f7f7f7;
        }
    }

    &__title
    {
        font-size: 3em;
    }

    &__input
    {
        width: 100%;
        margin-top: 1em;
        padding: 1em;

        transition: .2s linear all;

        border: 2px solid #ccc;
        background: #fff;
        &:focus
        {
            border-color: #999;
        }
    }

    &__img {
        position: absolute;
        height: calc(3em + 3px);
        margin-top: calc(1em + 2px);
        transform: translateX(-100%);
        border-left: 2px solid #ccc;
    }
}

.copy {
    font-size: 1em;
    position: fixed;
    position: absolute;
    z-index: 40;
    right: $btn-size;
    bottom: $btn-size / 2;
    color: #fff;
}


.unloged  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }

  button {
    background: #ccc;
    padding: 20px;
    &:hover {
      background: #999;
    }
  }
}
