@import "reset.scss";

$body-offset: 2em;
$btn-size: 2em;

html,
body {
  font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;


  * {
    font-size: 18px;

  }
}

button {
  cursor: pointer;
}

.body {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  transition: 0.3s transform linear;
  height: 100vh;
  width: 100vw;
  &--with-nav {
    transform: translate3d(-300px, 0, 0);
  }
}

.btn {
  position: absolute;
  top: 50%;
  width: $btn-size;
  height: $btn-size;
  background: #fff no-repeat center center;
  background-size: 100% 100%;
  border-radius: 50%;
  z-index: 110;

  &--next {
    right: $body-offset;
    background-image: url('../img/icon-right.svg');
  }

  &--prev {
    left: $body-offset;
    background-image: url('../img/icon-left.svg');
  }
}

.events {
  background: url('../img/bg-sprite.png') no-repeat -9999px -9999px;
	background-size: 0;
}

.event {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.4;
  top: 0;
  left: 0;

  &__box {
    position: absolute;
    bottom: $btn-size + $body-offset;
    left: $btn-size + $body-offset + $body-offset;
    color: #fff;
  }

  &__title {
    font-size: 4em;;
  }

  &__place {
    font-size: 1.8em;
  }

  &__date {
    font-size: 1.8em;
  }

  &__edit button{
    background: #fff;
    padding: 0.5em;
    font-size: 0.7em;
  }

  &--hide {
  	mask: url('../img/bg-sprite.png');
  	mask-size: 7100% 100%;
  	animation: mask-play 1.2s steps(70) forwards;
  }
}

@keyframes mask-play {
  from {
  	mask-position: 0% 0;
  }
  to {
  	mask-position: 100% 0;
  }
}


.nav-btn {
  position: fixed;
  top: $body-offset;
  right: $body-offset;
  width: $btn-size;
  height: $btn-size;
  background: #fff url('../img/icon-menu.svg') no-repeat center center;
  background-size: 100% 100%;
  z-index: 110;
}

.nav {
  width: 300px;
  height: 100vh;
  background: #fff;
  right: 0;
  position: fixed;
  top: 0;
  transform: translate3d(100%, 0, 0);
  transition: 0.3s linear transform;
  z-index: 120;

  ul {
    list-style: none;
  }

  li {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    .small {
      font-size: 0.7em;
      display: block;
      margin-top: 0.2em;
    }
  }

  button {
    padding: 1em 3em;
    background: #cacaca no-repeat 1em center url('../img/icon-plus.svg');
    width: 100%;
    text-align: left;
  }
}

.popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 130;
  background: rgba(255, 255, 255, 0.85);
  padding: 10vh 10vw;
  transition: 0.3s linear all;

  &--hiden {
    opacity: 0;
    transform: scale(0);
  }

  &__box {
    max-width: 600px;
    margin: 0 auto;
  }

  &__close {
    position: absolute;
    top: $body-offset;
    right: $body-offset;
    background: #fff url('../img/icon-close.svg') no-repeat center center;
    background-size: 100% 100%;
    width: $btn-size;
    height: $btn-size;

  }

  &__submit {
    padding: 1em 3em;
    margin-top: 1em;
    background: #cacaca no-repeat 1em center url('../img/icon-check.svg');
  }

  &__title {
    font-size: 3em;
  }

  &__input {
    width: 100%;
    padding: 1em;
    background: #fff;
    border: 1px solid #ccc;
    margin-top: 1em;
  }
}
